<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./common/head.ejs %>
    <link rel="stylesheet" href="../css/info.min.css">
</head>
<body>
   
    <div class="head">
        <div class="head-inner">
            <img src="../img/h5-02.png" alt="客如云" class="logo">
            <div class="title">餐饮设备计算器</div>
        </div>
    </div>

    <div class="content">
        <img src="../img/h5-03.png" alt="换购计算器" class="cal-robot">
        <img src="../img/h5-04.png" alt="815客如云五周年换购狂欢" class="active-pic-815">
        <form action="" method="post" class="cal-info-list">
            <div class="line line-1">
                <label class="box box-long" for="device-type">
                    <select name="device-type" id="device-type">
                        <option value="0">设备类型</option>
                        <option value="1">PC 电脑收银设备</option>
                        <option value="2">单屏Windows触摸设备</option>
                    </select>
                </label>
            </div>
            <div class="line line-2">
                <label class="box box-long" id="software-type">
                    <select name="software-type">
                        <option value="0">软件类型</option>
                        <option value="1">SaaS软件</option>
                        <option value="2">传统软件</option>
                    </select>
                </label>
            </div>
            <div class="line line-3">
                <label class="box box-short" for="condition">
                    <select name="condition" id="condition">
                        <option value="0">成色</option>
                        <option value="1">1成</option>
                        <option value="2">2成</option>
                        <option value="3">3成</option>
                    </select>
                </label>
                <label class="box box-short" id="durable-year">
                    <select name="durable-year">
                        <option value="0">使用年数</option>
                        <option value="1">1年</option>
                        <option value="2">2年</option>
                    </select>
                </label>
            </div>
            <div class="line line-4">
                <span>能否正常使用</span>
                <input id="avalible-use-yes" type="radio" name="avalible-use" value="是" checked>
                <label for="avalible-use-yes">是</label>
                <input id="avalible-use-no" type="radio" name="avalible-use"  value="否">
                <label for="avalible-use-no">否</label>
            </div>
            <div class="line line-5">
                <input type="text" placeholder="输入餐厅名称">
            </div>
            <div class="line line-6">
                <label class="box box-short" for="province">
                    <select name="province" id="province"></select>
                </label>
                <label class="box box-short" for="city">
                    <select name="city" id="city"></select>
                </label>
            </div>
            <div class="line line-7">
                <input type="text" placeholder="输入手机号">
            </div>
            <div class="line line-8 btn btn-cal">立即计算</div>
        </form>
    </div>

    <script src="../js/info.min.js"></script>
</body>
</html>