<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./common/head.ejs %>
    <link rel="stylesheet" href="../css/info.min.css">
</head>
<body>
   
    <div class="head">
        <div class="head-inner">
            <img src="../img/logo.jpg" alt="客如云" class="logo">
            <div class="title">餐饮设备计算器</div>
        </div>
    </div>

    <div class="body">
        <img src="" alt="">
        <img src="../img/815.jpg" alt="815客如云五周年换购狂欢" class="active-pic">
        
        <form action="" method="post">
            <div class="line">
                <label class="box box-long" id="device-type">
                    <select name="device-type">
                        <option value="0">设备类型</option>
                        <option value="1">PC 电脑收银设备</option>
                        <option value="2">单屏Windows触摸设备</option>
                    </select>
                </label>
            </div>
            <div class="line">
                <label class="box box-long" id="software-type">
                    <select name="software-type">
                        <option value="0">软件类型</option>
                        <option value="1">SaaS软件</option>
                        <option value="2">传统软件</option>
                    </select>
                </label>
            </div>
            <div class="line">
                <label class="box box-short" id="condition">
                    <select name="condition">
                        <option value="0">成色</option>
                        <option value="1">1成</option>
                        <option value="2">2成</option>
                        <option value="3">3成</option>
                    </select>
                </label>
                <label class="box box-short" id="durable-year">
                    <select name="durable-year">
                        <option value="0">使用年数</option>
                        <option value="1">1年</option>
                        <option value="2">2年</option>
                    </select>
                </label>
            </div>
            <div class="line">
                <span>能否正常使用</span>
                <label for="avalible-use-yes">
                    <input id="avalible-use-yes" type="radio" name="avalible-use" value="是" checked>
                    是
                </label>
                <label for="avalible-use-no">
                    <input id="avalible-use-no" type="radio" name="avalible-use"  value="否">
                    否
                </label>
            </div>
            <div class="line">
                <input type="text" placeholder="输入餐厅名称">
            </div>
            <div class="line">
                <label class="box box-short" for="province">
                    <select name="province" id="province"></select>
                </label>
                <label class="box box-short" for="city">
                    <select name="city" id="city"></select>
                </label>
            </div>
            <div class="line">
                <input type="text" placeholder="输入手机号">
            </div>
        </form>

        <div class="btn btn-cal">立即计算</div>
    </div>


    <script src="../js/info.min.js"></script>
</body>
</html>