<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./common/head.ejs %>
    <link rel="stylesheet" href="../css/result.min.css">
</head>
<body>
    <div class="head">
        <div class="head-inner">
            <img src="../img/h5-02.png" alt="客如云" class="logo">
            <div class="title">餐饮设备计算器</div>
        </div>
    </div>
    <div class="content">
        <img src="../img/h5-03.png" alt="换购计算器" class="cal-robot">
        <img src="../img/h5-04.png" alt="815客如云五周年换购狂欢" class="active-pic-815">
        <div class="cal-info-list">
            <div class="congratulate">
                <img src="../img/h5-10.png" alt="恭喜你">
            </div>
            <h3>你的设备目前大约可抵扣</h3>
            <h3 class="price"><span>￥</span>1460元</h3>
            <h3 class="btn btn-apply" data-btn="apply">我要以旧换新</h3>
            <h4>客如云以旧换新活动火热进行中！</h4>
            <h5>换购时间：8月14日-9月15日</h5>

            <div class="intro">
                <p>为感恩回馈广大餐饮企业， 客如云正式启动“五</p>
                <p>周年庆换购狂欢”活动，补贴5000万巨额助力餐</p>
                <p>厅管理更加智能、简单、高效。活动期间，餐厅</p>
                <p>可以用老的传统设备来换购新的客如云智能餐</p>
                <p>饮管理设备，单台设备最高抵扣价高达1500元！</p>
                <p>您的高效经营管理之路，只差这一步！</p>
            </div>

            <h4>可参与换购的设备类型</h4>
            <h5>（不限于）</h5>
            
            <div class="device-intro">
                <div class="img-wrap">
                    <img src="../img/h5-13.png" alt="PC电脑收银设备">
                    <div class="des">PC 电脑收银设备</div>
                </div>
                <div class="img-wrap">
                    <img src="../img/h5-05.png" alt="双屏windows触摸设备">
                    <div class="des">双屏windows</div>
                    <div class="des">触摸设备</div>
                </div>
                <div class="img-wrap">
                    <img src="../img/h5-06.png" alt="单屏Windows触摸设备">
                    <div class="des">单屏 Windows</div>
                    <div class="des">触摸设备</div>
                </div>
                <div class="img-wrap">
                    <img src="../img/h5-07.png" alt="双屏Android触摸设备">
                    <div class="des">双屏 Android</div>
                    <div class="des">触摸设备</div>
                </div>
                <div class="img-wrap">
                    <img src="../img/h5-08.png" alt="单凭Android触摸设备">
                    <div class="des">单屏 Android</div>
                    <div class="des">触摸设备</div>
                </div>
                <div class="img-wrap">
                    <img src="../img/h5-09.png" alt="单机设备">
                    <div class="des">单机设备</div>
                </div>
            </div>

            <div class="btn btn-apply-ok" data-btn="apply">我觉得ok 在线报名</div>
            <a class="btn btn-tel" href="tel:400-8866-815">
              <img class="icon icon-phone" src="../img/h5-12.png"></img>
              <span>直接电话报名</span>
            </a>

            <div class="copy">
                <p>用来换购的旧设备仅限非客如云产品哦~</p>
                <p>本活动解释权归客如云所有</p>
            </div>
        </div>
    </div>

    <% include ../components/dialog/dialog.ejs %>
    <script src='../../node_modules/jquery/dist/jquery.min.js'></script>
    <script src="../js/result.min.js"></script>
</body>
</html>