<div class="dialog fade hide" data-dialog>
  <div class="content">
    <span class="title" data-title></span>
    <a href="#" class="close">&times;<em>close</em></a>
    <div class="body">
      <p data-msg></p>
    </div>
  </div>
</div>
